<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="application/javascript">
        fetch('/get_info_files').then((response) => {
        return response.json();
    }).then((data) => {
            let a = data
        })
</script>
добавление файлов
<form action="{{url_for('upload_file')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <select name="root_file">
        <option value="\">в корень</option>>
    </select>
    <input type="submit" value="Upload">
</form>
<p>
<p>
удаление файлов
<form action="{{url_for('delete_file')}}" method="post" enctype="multipart/form-data">
    <select name="root_file">
        <option value="2022-05-26T14:54:27.513490">forShablon</option>>
    </select>
    <input type="submit" value="Delete">
</form>
</body>
</html>